<div class="app" dir="ltr" [ngClass]="{'app-dark': dark, 'boxed': boxed, 'collapsed-sidebar': collapseSidebar, 'compact-sidebar': compactSidebar, 'customizer-in': customizerIn}">
    <mat-sidenav-container class="gene-container">
        <mat-sidenav #sidenav  [mode]="sidenavMode" [opened]="sidenavOpen" class="sidebar-area">
            <div class="sidebar-panel gene-sidenav" fxLayout="column">
                <mat-toolbar class="sidebar-logo">
                    <div class="gene-logo"><div class="logo-sign inline-block"><img src="assets/img/logo-sign.png" width="30" height="30"></div><div class="logo-text inline-block"><img src="assets/img/logo-text.png" width="90" height="27"></div></div>
                </mat-toolbar>
                <div class="sidebar-container">
                    <div class="gene-user-thumb text-center">
                        <img class="img-responsive img-circle" src="assets/img/pro-thumb.jpg" width="107" height="107" alt="user list image">
                        <span class="gene-user-name gene-block">John Hobbs</span>
                    </div>
                    <div class="sidenav-scrollbar-container" fxLayout="column">
                        <perfect-scrollbar>
                            <mat-nav-list fxLayout="column" menuToggleDirective class="navigation">
                                <mat-list-item menuToggleLink *ngFor="let menuitem of menuItems.getAll()">
                                    <a menuToggle class="gene-relative" mat-ripple [routerLink]="['/', menuitem.state]" routerLinkActive="active-link" *ngIf="menuitem.type === 'link'">
                                        <mat-icon>{{ menuitem.icon }}</mat-icon>
                                        <span>{{ menuitem.name | translate }}</span>
                                    </a>
                                    <a menuToggle class="gene-relative" mat-ripple href="javascript:;" *ngIf="menuitem.type === 'sub'">
                                        <mat-icon>{{ menuitem.icon }}</mat-icon>
                                        <span>{{ menuitem.name | translate }}</span>
                                        <span fxFlex></span>
                                        <mat-icon class="menu-caret">chevron_right</mat-icon>
                                    </a>
                                    <mat-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
                                        <mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="open">
                                            <a [routerLink]="['/', menuitem.state, childitem.state ]" routerLinkActive="active-link" class="gene-relative" mat-ripple>{{ childitem.name | translate }}</a>
                                        </mat-list-item>
                                    </mat-nav-list>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                <mat-list-item>
                                    <a (click)="addMenuItem()">
                                        <mat-icon>add</mat-icon>
                                        <span>Add</span>
                                    </a>
                                </mat-list-item>
                            </mat-nav-list>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
        </mat-sidenav>
        <mat-toolbar class="gene-header-toolbar">
            <div class="gene-ham-icon">
                <button class="" mat-mini-fab color="primary" mat-card-icon (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
            </div>
            <a class="navbar-brand" href="#">{{header}}</a>
            <!--<breadcrumb class="gene-breadcrumbs"></breadcrumb>-->
            <span fxFlex></span>
            <div class="search-bar" fxFlex>
                <form class="search-form" fxShow="false" fxShow.gt-xs>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Search" />
                    </mat-form-field>
                </form>
            </div>
        <div class="secondary-menu">
            <button fxHide="true" fxHide.gt-sm="false" mat-button class="fullscreen-toggle" (click)="toggleFullscreen()">
            <mat-icon *ngIf="!isFullscreen">fullscreen</mat-icon>
            <mat-icon *ngIf="isFullscreen">fullscreen_exit</mat-icon>
        </button>

            <button class="user-button" mat-button [matMenuTriggerFor]="menu">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>account_circle</mat-icon>
        </div>
      </button>
            <button (click)="end.toggle()" mat-icon-button class="ml-xs overflow-visible">
                <mat-icon>notifications</mat-icon>
            </button>
            <button mat-icon-button class="ml-xs overflow-visible" [matMenuTriggerFor]="appsmenu">
          <mat-icon>apps</mat-icon>
      </button>
        </div>
        </mat-toolbar>

        <mat-sidenav #end position="end" class="chat-panel" mode="over" opened="false">
          <div class="scroll">
             <mat-toolbar class="mat-blue-800">
             <h3 >Notifications</h3>
           </mat-toolbar>
            <mat-nav-list>
          
              <mat-list-item>
                <mat-icon mat-list-avatar class="mat-text-primary">person_add</mat-icon>
                <h4 mat-line>New User</h4>
                <p mat-line>10 New Users Registered</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-avatar class="mat-text-primary">system_update</mat-icon>
                <h4 mat-line>Updates</h4>
                <p mat-line>New Updates are available for Server</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-avatar class="mat-text-primary">info</mat-icon>
                <h4 mat-line>Backup</h4>
                <p mat-line>Backup task is completed</p>
              </mat-list-item>

              <mat-list-item>
                <mat-icon mat-list-avatar class="mat-text-primary">delete_sweep</mat-icon>
                <h4 mat-line>Junk Files are deleted</h4>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-avatar class="mat-text-primary">check_circle</mat-icon>
                <h4 mat-line>2 New project Completed</h4>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-avatar class="mat-text-warn">notifications_paused</mat-icon>
                <h4 mat-line>Need 4 Data Entry Operator</h4>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-avatar class="mat-text-warn">error</mat-icon>
                <h4 mat-line>Server 2 is down for 1 hour</h4>
              </mat-list-item>
             
                
            </mat-nav-list>
          </div>
    </mat-sidenav>
        <div class="gene-base-container" #scrollContainer>
           <div class="inner-container">
            <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
            </div>
        </div>
    </mat-sidenav-container>
    <!-- Demo Purposes Only -->
    <div class="gene-customizer">
        <button class="customizer-toggle" (click)="customizerFunction()"><mat-icon class="fa-spin">settings</mat-icon></button>

        <div class="settings-panel">
            <mat-toolbar color="primary">
                <span fxFlex>Options</span>
            </mat-toolbar>
            <mat-card-content class="theme-options">
                <h3>Layout Options</h3>
                <mat-divider></mat-divider>
                <div>
                    <mat-checkbox [(ngModel)]="collapseSidebar" (change)="compactSidebar = false" [labelPosition]="end">Collapsed Sidebar</mat-checkbox>
                </div>
                <div class="boxed-layout-md">
                    <mat-checkbox [(ngModel)]="boxed" [labelPosition]="end">Boxed Layout</mat-checkbox>
                </div>
                <div>
                    <mat-checkbox [(ngModel)]="dark" (change) = "addClassOnBody($event)" [labelPosition]="end">Dark Mode</mat-checkbox>
                </div>
                <div>
                    <mat-checkbox (change)="root.dir = (root.dir == 'rtl' ? 'ltr' : 'rtl')" [labelPosition]="end">RTL</mat-checkbox>
                </div>
                <div>
                    <mat-select placeholder="Language" class="mt-1" [(ngModel)]="currentLang" #langSelect="ngModel" (ngModelChange)="translate.use(currentLang)">
                        <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</mat-option>
                    </mat-select>
                </div>
            </mat-card-content>
        </div>
    </div>
    <!-- /Demo Purposes Only -->
</div>
<mat-menu class="user-menu" x-position="before" y-position="below" #menu="matMenu">
    <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
    <button mat-menu-item>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
    <button mat-menu-item>
    <mat-icon>help</mat-icon>
    <span>Help</span>
  </button>
    <mat-divider></mat-divider>
    <button [routerLink]="['/login']" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>

<mat-menu class="apps-menu" x-position="after" y-position="below" #appsmenu="matMenu">
    <button mat-menu-item>
		<mat-icon>storage</mat-icon>
		<span>Total App Memory</span>
	</button>
    <button mat-menu-item>
		<mat-icon>memory</mat-icon>
		<span>Total Memory Used</span>
	</button>
    
    <button mat-menu-item>
		<mat-icon>mail</mat-icon>
		<span>12 Unread Mail</span>
	</button>
	   <button mat-menu-item>
		<mat-icon>feedback</mat-icon>
		<span>2 Feedback</span>
	</button>
	
</mat-menu>


   