<div  fxLayout="row" fxLayoutAlign="center start" class="gene-registration-form  height-full pad-t-xl">
  <div fxLayout="column" fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="60" fxFlex.sm="70"  fxFlex.xs="100">
    <mat-card>
      <div>
        <div fxLayout="column" fxLayoutAlign="center center">
         <div class="login-logo text-center">
          <img src="assets/img/logo.png">
          <h5 class="">Please Enter your details for registrations</h5>
          </div>
        </div>
        <form #form="ngForm" (ngSubmit)="register()">
          <div fxLayout="column" fxLayoutAlign="start stretch">
            <mat-form-field>
              <input matInput placeholder="Name" type="text" name="name" required [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="E-Mail" type="text" name="email" required [(ngModel)]="email">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" name="password" required [(ngModel)]="password">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Password (Confirm)" type="password" name="password-confirm" required [(ngModel)]="passwordConfirm">
            </mat-form-field>
            <div fxLayout="row" fxLayoutAlign="start" class="mrgn-b-md">
              <mat-checkbox>I accept the <a href="#" class="mat-text-primary">terms and conditions.</a></mat-checkbox>
            </div>
            <button mat-raised-button [disabled]="!form.valid" class="mat-blue-800 mrgn-b-md">CREATE ACCOUNT</button>
            <p>Already have an account? <a [routerLink]="['/login']" class="mat-text-primary">Sign in here</a></p>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
